[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "HTTPRequest"]
	path = HTTPRequest
	url = https://github.com/elnormous/HTTPRequest
