[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
